body {
      background-color: #3fb2c9;
      color: #272142;
      font-family: Arial, Helvetica, sans-serif;
      display: block;
      margin: 8px;
    
}
h1 {
      text-align: center;
      background-color: #3fb2c9;
      color: #fff;
      padding: 20px;
      border-radius: 25px;
      letter-spacing: 1px;
      border: 5px solid #9BB7CC;
}
h2 {
      text-align: center;
      color: #fff;
}

img {
      display: block;
      margin: 0 auto;
      background: #3F98C5;
      border: 10px solid #9BB7CC;
      border-radius: 6px;


}

p {
      color: #fff;
      line-height: 1.5;
}

button {
      background: #3fb2c9;
      display: block;
      margin: 0 auto;
      border: 5px solid #9BB7CC;
      padding: 20px 20px;
      border-radius: 30px;
      font-size: 18px;
      color: #fff;
      transition: all 200ms ease-in-out;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
      cursor: pointer;

}

button:hover {
      background: #097e95;
}
footer {
      text-align: center;
      font-size: 15px;
}
hr {
      border: none;
      height: 1px;
      background: #d4f3f370;

}

footer {
      color: #fff;
}

.container {
      box-shadow: 0px 30px 50px rgba(65, 50, 100, 0.12);
      margin: 30px auto;
      background: #097e95;
      max-width: 550px;
      padding: 40px;
      border-radius: 16px;
 }

 .nature {
      color: #08d6ff;
      text-decoration: underline;
 }

 .learn-more {
      display: block;
      margin-top: 10px;
      color: #08d6ff;
      text-decoration: none;
 }

 .learn-more:hover {
      text-decoration: underline;
      cursor: pointer;
 }

 @media screen and (max-width: 768px) {

       #container {
             width: 90%;
       }

       h1 {
             font-size: 200%;
       }
      }